.header {
    height: 12%;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 12rem 0 12rem;
        height: 100%;
    }

    &__logo-wrapper {
        @include font-heading-bold;
        display: flex;
        justify-content: center;
        height: 45px;
        width: 45px;
        padding: .5rem;
        font-size: 2.5rem;
        color: #ffffff;
        border: 7px solid #ffffff;
    }
}