.hero {
    &__container {
        text-align: left;
        padding: 10% 4rem 0 4rem;
    }
    &__inner {
        color: #ffffff;
        width: 40%;
        border-left: 2px solid #ffffff;
    }
    &__title {
        @include font-heading-bold;
        padding-left: 2.5rem;
    }
}