.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C0C0C0;

    &__inner {
        background-color: #eaeaea;
        margin-bottom: 40px;
        border-radius: 40px;
        box-shadow: -6px -6px 20px rgba(255,255,255,1), 
                    6px 6px 20px rgba(0,0,0,0.1);
    }
}